/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


.logo {
    font-family: 'Poppins', serif;
    font-size: 60px;
    /*text-shadow: 4px 4px 4px #aaa;*/
    text-align: right;
    color: #7386D5;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.message-content .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

.sidebar-header .avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: block;
    margin: auto;
}

.sidebar-name {
    text-align: center;



}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}


a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.login-btn {
    background: #fff;
    color: #7386D5;
}

a.logout-btn {
    background: #fff;
    color: #7386D5;
}

a.signup-btn, a.signup-btn:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    padding: 20px;
    min-height: 100vh;
    min-width: 82vw;
    transition: all 0.3s;
}
#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
}
#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}
#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}
#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

/* -------------------------------------------------
      HOME PAGE CONTENT
----------------------------------------------------*/
.message-entry {
    border: 10px solid transparent;
    padding: 15px;
    margin: 15px;
}

.invitation-entry {
    border: 10px solid transparent;
    padding: 15px;
    margin: 15px;
}

.btn {
    background: rgb(115, 134, 213);
    color: #fff;
}

.text-content {
    color: #525b5e;
    margin: 15px;
}

.from-who {
    color: #6d7fcc;
}

.photo {
    max-width: 50%;
    max-height: 720px;
}

.photo-thumbnail {
    max-width: 100%;
    max-height: 100%;
}

.like-number {
    float:right;
    margin-left: 10px;
    color: #525b5e;
}

.thumbs-up {
    color: #525b5e;
}

.profile-content #user-avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: block;
    margin: auto;
    padding: 0;
}


.avatar {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: block;
    margin: auto;
    padding: 0;
}
.profile-content .profile-name {
    display: inline-block;
    margin-right: 15px;
}

.msg-message-entry {
    margin-bottom: 30px;
}

.msg-message-entry .bubble{
    position:relative;
    width:auto;
    min-height:50px;
    background-image:-webkit-gradient(linear, 0 0, 0 30, from(rgba(123, 157, 213, 0.5)), to(rgba(0,170,0,0)));
    background-color: rgba(115, 134, 213, 0.5);
    margin-left:75px;
    border-radius:10px;
    padding:5px 10px;
    color:#fff;
    word-wrap:break-word;
    /*-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.5);*/
    /*text-shadow:1px 1px rgba(0,0,0,.5);*/
}
.msg-message-entry .bubble:hover{
    top:-2px;
    left:-2px;
    /*-webkit-box-shadow:2px 2px 2px rgba(0,0,0,.5);*/
}

.msg-message-entry .bubble:after{
    content:"\00A0";
    position:absolute;
    display:block;
    left:-20px;
    top:10px;
    width:0;
    height:0;
    border-width:10px 20px 10px 0;
    border-style: solid;
    border-color:transparent rgba(123, 157, 213, 0.5) transparent transparent;
}
